html {
	font-family: 'Oswald', sans-serif;
	color: white; 
	font-size: 30px;
	margin: 0px;
	padding: 0px;

}	
	
body {
	background: #433f39;
	
}
	
h1 {
	text-align: center;
	align-self: center;
    justify-self: center;
	float: center;		
	font-size: 60px;
	bottom: 10px;
	color: #ffcc33; 
	position: relative;
	
}

h2 {
	font-size: 40px;
	float: center;
	text-align: center;
	align-self: center;
    justify-self: center;	
	bottom: 10px;
	position: relative;
	
}

.container {
	display: grid;
	margin: auto;
	position: relative;
	grid-gap: 5px;
	grid-template-areas:
	"nav"
	"header"
    "content";
	grid-template-columns: auto auto auto auto;
	grid-template-rows: 120px 100px 775px; 
	
}

.container div{
	padding: 0px;

}

.nav {
	grid-area: nav;
	background-color: black;
	border-bottom: 5px dodgerblue solid;
	border-radius: 10px;
	box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.25);
	grid-column: 1/5;
			
}

.smallmenu ul li {
	list-style: none;
	padding: 5px;
	item-align: center;
	float: left;
	
}

.add-button .fa{
	color: #ffcc33;
	font-size: 90px;

}

.add-button .fa:hover {
	color: #cc9900;
	font-size: 90px;

}

.add-button {
	position: absolute;
	left: 230px;
	top: 7px;
	background: black;
	height: 100px;
	width: 100px;
	border: none;
	cursor: pointer;
	
}

.smallmenu {
	width: 1000px;

}

.hmomlaag-content.slider-wrapper {
	display: center;
	width: 20px;
	height: 100px;
	padding: 0;
	item-align: center;
		
}

.header {
	grid-area: header;
	background: #433f39;
	grid-column: 2/4;
	
}

.content {
	grid-area: content;
	background-color: #433f39;
	margin: 0;
	padding: 0;
	grid-column: 2/4;
	
}

.smallmenu .hmomlaagbtn .fa {
	font-size: 60px;

}

.smallmenu .hmomlaagbtn {
    background-color: black;
    color: white;
    padding: 0px;
    font-size: 30px;
    border: none;
    cursor: pointer;
	position: relative;
	bottom: 10px;
			
}

.smallmenu .hmomlaagbtn .fa:hover, .fa:focus {
    color: #ffcc33;
	
}

.smallmenu .hmomlaag {
    top: 5px;
	
    
}

.smallmenu .hmomlaag-content {
    padding: 0px;
    margin: 0px;
	display: none;
    position: absolute;
    background-color: black;
    width: 200px;
	overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	
}

.smallmenu .hmomlaag-content a, p {
    padding: 0px 0px;
    margin: 0px;
	color: #ffcc33;
    display: block;
	item-align: left;
	text-align: center;
		
}

.smallmenu .laatzien {display:block;}

.fa  {
	color: white;
	font-size: 40px;
	background: none;
			
}

.smallmenu .search-box {
	top: 16px;
	left: 125px;
	transform: (-60%, -60%);
	background: black;
	height: 60px;
	border-radius: 70px;
	padding: 10px;
	display: left;
	position: absolute
	
		
}

.smallmenu .search-btn {
	color: black;
	float: left;
	width: 60px;
	height: 60px;
	border-radius: 60%;
	background: black;
	Display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	
}

.smallmenu .search-btn .fa:hover {
	color: #ffcc33;
	
}

.smallmenu .search-box:hover > .search-txt {
	width: 400px;
	padding: 0 6px;
	
}

.smallmenu .search-box:hover > .search-btn .fa{
	background: black;
		
}

 .smallmenu .search-box:hover, .search-txt {
	background: #ffcc33;
	transition: background 2s ease-out;

}

.smallmenu .search-txt {
	font-family: 'Oswald', sans-serif;
	border: none;
	background: none;
	outline: none;
	float: center;
	padding: 0px;
	color: black;
	font-size: 25px;
	transition: 0.6s;
	line-height: 60px;
	width: 0px;
	
}

.Adrescontainer {
	position: relative;
	align-self: center;
	justify-self: center;
	align-content: center;
	float: center;
	z-index: 1;
	
}

.adresformulier {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	color: black;
	width: 500px;
	padding: 20px;
	border: 5px dodgerblue solid;
	border-radius: 10px;
	background: #ffcc33;
	position: relative;
	align-self: right;
	justify-self: center;
	align-content: center;
	float: center;
	z-index: 1;
	
}

.adresformulier input {
	width: 435px;
    padding: 10px 10px 30px 30px;
    margin: 20px 30px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	position: relative;
	float: center;
		
}

.adresformulier label {
	margin: 20px 20px;
	padding: 10px 10px 20px 20px;

}

.adresformulier button { 
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	width: 450px;
    background-color: dodgerblue;
    color: black;
    margin: 20px 20px;
	padding: 10px 10px 20px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.adresformulier button:hover {
    background-color: black;
	color: #ffcc33;
}
